@media (min-width:768px) {

    .plans .pricing-custom-container {
        max-width: 90%;
    }

    section {
        padding-bottom: 64px;
        padding-top: 64px;
    }

    .pricing-custom-container {
        padding-right: 24px;
        padding-left: 24px;
    }

    .small-title {
        font-size: 14px;
    }

    .main-title {
        font-size: 40px;
    }

    .text-wrapper .main-title {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }

    .head-text {
        margin-bottom: 16px;
    }

    .sticker {
        font-size: 18px;
    }

    .feature-content .col-title {
        text-align: center;
    }

    .col-title {
        font-size: 22px;
        min-height: 60px;
    }

    .col-sub-title {
        min-height: 70px;
        margin-bottom: 16px;
        text-align: justify;
    }

    .price {
        font-size: 24px;
    }

    .btns-wrapper {
        margin-bottom: 16px;
        align-self: inherit;
        -webkit-box-align: baseline;
        align-items: baseline;
        flex-direction: row;
    }

    .normal-text {
        margin-bottom: 16px;
    }

    .head-text {
        margin-bottom: 16px;
    }

    .open-text {
        font-size: 20px;
    }

    .note-text {
        margin-bottom: 16px;
    }

    .cta-title {
        font-size: 24px;
    }

    .cta-wrapper {
        padding-right: 12px;
        padding-left: 12px;
    }

    .add-ons .feature-li {
        columns: 1;
    }

    .main-hero-title {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }

    .sub-hero-title {
        flex: 0 0 33.3333%;
        margin-left: 8.33333%;
        max-width: 33.3333%;
    }

    .form-input .lap-50 {
        grid-column: span 1;
    }

    .li-text {
        text-underline-offset: 4px;
        border-bottom: 1px dotted rgb(22, 20, 12);
    }

    .nav-item-content {
        padding: 20px 24px;
    }
}